<div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign in to continue to Bootsnipp</h1>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt="">
                <form class="form-signin" #form="ngForm">
                <input type="text" class="form-control" placeholder="Email" id="username" name="username" required  [(ngModel)]="model.username" autofocus #username="ngModel">
                <div *ngIf="username.errors"><span class="alert alert-danger" [hidden]="!username.errors.required">Username is required</span></div>
                <input type="password" #password="ngModel" name="password" [(ngModel)]="model.password" class="form-control" placeholder="Password" required>
                <div *ngIf="password.errors"><span class="alert alert-danger" [hidden]="!password.errors.required">Password is required</span></div>
                <button class="btn btn-lg btn-primary btn-block" (click)="login(model)" type="button">
                    Sign in</button>
                <span class="clearfix"></span>
                </form>
            </div>
        </div>
    </div>